[Unit]
Description=Rustinx for monitoring Nginx

[Service]
User=username
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/username/.Xauthority"
ExecStart=/usr/bin/rustinx
Restart=always

[Install]
WantedBy=multi-user.target
