.logs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-left: 10%;
}

.logs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;
}

.search-container {
  margin-bottom: 15px;
}

.search-input {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  background-color: #504945;
  color: #ebdbb2;
  border: 1px solid #8ec07c;
  border-radius: 4px;
  font-size: 16px;
}

.search-input::placeholder {
  color: #a89984;
}

.log-entry {
  position: relative; /* Make the log entry a positioned container */
  margin-bottom: 15px;
  padding: 10px;
  background-color: #282828;
  color: #ebdbb2;
  border-radius: 4px;
}

.log-entry div {
  margin: 3px 0;
}

.log-entry strong {
  color: #8ec07c;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #8ec07c;
  color: #282828;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  min-width: 10rem;
}

.toggle-button:hover {
  background-color: #689d6a;
}

.copy-button {
  position: absolute; /* Absolutely position the button within the log entry */
  top: 10px; /* Position from the top-right corner */
  right: 10px; /* Position from the right side */
  background: none;
  border: none;
  color: #8ec07c;
  cursor: pointer;
  font-size: 18px;
  display: none; /* Hidden by default */
}

.log-entry:hover .copy-button {
  display: inline; /* Show on hover */
  border: 1px solid #8ec07c;
  border-radius: 4px;
}

.copy-button:active {
  background-color: #8ec07c;
  color: #282828;
}
