.graph-container {
    background-color: #3c3836;
    color: #ebdbb2;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    max-width: 800px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .controls {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .controls label {
    margin-right: 10px;
    color: #8ec07c;
  }
  
  .controls select {
    padding: 5px;
    background-color: #504945;
    color: #8ec07c;
    border: 1px solid #8ec07c;
    border-radius: 4px;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
  
  .controls select option {
    background-color: #504945 !important;
    background: #504945 !important;
    color: #8ec07c !important;
    appearance: none !important;
    -moz-appearance:none !important;
    -webkit-appearance:none !important;
  }

  .controls select option:hover {
    background-color: #3c3836 !important;
    color: #8ec07c !important;
  }

  .controls input[type="checkbox"] {
    appearance: none;
    background-color: #504945;
    border: 1px solid #8ec07c;
    padding: 9px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 0.25rem;
  }
  
  .controls input[type="checkbox"]:checked {
    background-color: #8ec07c;
    border-color: #8ec07c;
  }
  
  .controls input[type="checkbox"]:checked::after {
    content: '✓'; /* Checkmark */
    font-size: 14px;
    color: #3c3836;
    position: absolute;
    top: 0;
    left: 2px;
  }
  
  .controls input[type="checkbox"]:hover {
    background-color: #665c54;
    border-color: #8ec07c;
  }
  
  .controls label[for="relativeMode"] {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }