.App {
  text-align: center;
  background-color: #282828;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Allows items to wrap if the window is too narrow */
  background-color: #282828;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: #3c3836; /* Background color of the scrollbar track */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background-color: #3c3836; /* Color of the track */
  border-radius: 6px; /* Rounded corners for the track */
}

/* The scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #8ec07c; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 2px solid #3c3836; /* Optional border to create space around the thumb */
}

/* The scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #83a598; /* Change color on hover */
}

/* The scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

/* The scrollbar corner when both vertical and horizontal scrollbars are present */
::-webkit-scrollbar-corner {
  background-color: #3c3836; /* Background color of the corner */
}

.log-container {
  width: 45%; /* Adjust based on your preference */
  min-width: 300px; /* Ensures containers don't get too small on narrow screens */
}
.log-title {
  color: #ebdbb2;
}

.log {
  max-height: 400px;
  overflow-y: auto;
  background-color: #3c3836;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap; /* Keeps formatting of log messages */
  color: #ebdbb2;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

  
.control-button {
	padding: 10px 20px;
	background-color: #504945;
	color: #ebdbb2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-inline: 1rem;
	display: inline-flex; /* Use inline-flex to keep the button's inline nature */
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
  }
  
  .control-button-icon {
	margin-left: 8px; /* Space between the icon and text */
	display: inline-block;
  }
  
  .control-button:hover {
	background-color: #665c54;
  }
  
  .control-button:active {
	transform: scale(0.98);
	background-color: #7c6f64;
  }
  
  .control-button.start {
	background-color: #8ec07c;
  }
  
  .control-button.start:hover {
	background-color: #689d6a;
  }
  
  .control-button.restart {
	background-color: #fabd2f;
  }
  
  .control-button.restart:hover {
	background-color: #d79921;
  }
  
  .control-button.stop {
	background-color: #fb4934;
  }
  
  .control-button.stop:hover {
	background-color: #cc241d;
  }

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-icon {
  align-self: center;
  justify-self: center;
}

.status-text {
  margin-right: 10px;
}

.open-file-link {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2px;
  color: #ebdbb2;
}

.main-content {
  padding: 20rem;
}

.error-container {
  text-align: center;
  padding: 50px;
  background-color: #3c3836;
  color: #ebdbb2;
  border-radius: 8px;
  margin: 20px;
}

.error-container h1 {
  color: #fb4934;
}

.error-container p {
  font-size: 1.2em;
}
