.App {
	text-align: center;
	background-color: #282828;
	height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap; /* Allows items to wrap if the window is too narrow */
	background-color: #282828
  }

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	font-size: calc(10px + 2vmin);
}

.log-container {
	width: 45%; /* Adjust based on your preference */
	min-width: 300px; /* Ensures containers don't get too small on narrow screens */
}
.log-title {
	color: #ebdbb2;
}

.log {
	max-height: 400px;
	overflow-y: auto;
	background-color: #3c3836;
	padding: 10px;
	border-radius: 5px;
	white-space: pre-wrap; /* Keeps formatting of log messages */
	color: #ebdbb2;
}